body{
    margin: 0;
    padding: 0;
}

#score{
    height: 10vh;
    font-size: 1.75em;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.game{
    height: 90vh;
}

#player-choice{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.choice{
    font-size: 2em;
    border: none;
    background: none;
    color: white;
    transition: .3s;
    height: 400px;
}


.choice:hover{
    filter: brightness(110%);
    transform: scale(105%);
}

#result{
    height: 100%;
    display: none;
    flex-direction: column;
}

.indiv-results{
    flex: 1 1 75%;
    display: flex;
}

.indiv-results img{
    height: 400px;
}

#player-result{
    flex: 1 1 0%;
}


#computer-result{
    flex: 1 1 0%;
}

#ovrl-result{
    flex: 1 1 25%;
}

.inner-result{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

#versus{
    display: none;
    z-index: 1;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    font-weight: 800;
    font-style: italic;
}

#winner{
    display: none;
}



